* {
    margin: 0;
    padding: 0;
    
    header {
        margin: 0 auto;
        nav {
            margin: 0 auto;
            display: inline;
        }
    }

    main {
        margin: 0 auto;
    }
}