{% extends 'base.html.twig' %}
{% block title %}{{ "page_titles.about" | trans }}{% endblock %}
{% block main %}
    <h1>{{ "page_about.about_website" | trans }}</h1>
    <p>{{ "page_about.symfony" | trans }}</p>
{% endblock %}
