/* Error: Undefined mixin.
 *    ,
 * 74 | /     @include media(mobile-only) {
 * 75 | |         padding-left: calc(0.5 * var(--global--spacing-horizontal));
 * 76 | | 
 * 77 | |         &:before {
 * 78 | |             left: 0;
 * 79 | |         }
 * 80 | \     }
 *    '
 *   blockquote.scss 74:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 74 \2502  \250c      @include media(mobile-only) {\a 75 \2502  \2502          padding-left: calc(0.5 * var(--global--spacing-horizontal));\a 76 \2502  \2502  \a 77 \2502  \2502          &:before {\a 78 \2502  \2502              left: 0;\a 79 \2502  \2502          }\a 80 \2502  \2514      }\a    \2575 \a   blockquote.scss 74:2  root stylesheet";
}
