/* Error: Undefined mixin.
 *    ,
 * 12 |     @include button-style();
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   button\_style.scss 12:2  @import
 *   blocks.scss 8:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 12 \2502      @include button-style();\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   button\\_style.scss 12:2  @import\a   blocks.scss 8:9          root stylesheet";
}
