/* Espilon Layout Control */
.epsilon-layouts-container a {
  outline: none;
  text-decoration: none;
}

.epsilon-layouts-container a:hover, .epsilon-layouts-container a:focus {
  text-decoration: none;
  color: #79b5d1;
}

.epsilon-layouts-container .epsilon-control-group a {
  line-height: 41px;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced {
  border-radius: 3px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-layouts-container-label {
  margin-bottom: 20px;
  display: inline-block;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-layouts-setup {
  display: inline-block;
  width: 100%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column {
  border-right: 4px solid #f4f4f4;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  background-color: #cacaca;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column:first-of-type a:first-of-type {
  display: none;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column:last-of-type {
  border-right: none;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column:last-of-type a:last-of-type {
  display: none;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column:first-of-type:last-of-type .dependency-visible {
  display: block;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col12 {
  width: 100%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col11 {
  width: 91.66666667%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col10 {
  width: 83.33333333%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col9 {
  width: 75%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col8 {
  width: 66.66666667%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col7 {
  width: 58.33333333%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col6 {
  width: 50%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col5 {
  width: 41.66666667%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col4 {
  width: 33.33333333%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col3 {
  width: 25%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col2 {
  width: 16.66666667%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column.col1 {
  width: 8.33333333%;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column a {
  opacity: .2;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #e14d43;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column a .dashicons {
  font-size: 12px;
  line-height: 17px;
  width: initial;
  height: initial;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column a:last-of-type {
  right: 0;
  left: initial;
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column a.dependency-visible {
  display: none;
  left: 50%;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column:hover > a, .epsilon-layouts-container .epsilon-layouts-container-advanced .epsilon-column:focus > a {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
/*# sourceMappingURL=layouts.css.map */