* {
    margin: 0;
    padding: 0;
}

.flag_fr {
    background-color: #FFFFFF;
    position: relative;
    height: 350px;
    width: 600px;
    border: 2px solid black;
}

.flag_fr p:before{
    content:"";
    width:33.33%;
    background-color: rgba(0,35,149,1);
    position:absolute;
    top:0;
    left: 0;
    bottom:0;
}

.flag_fr:after {
    content:"";
    width:33.33%;
    background-color: rgba(237,41,57,1);
    position:absolute;
    top:0;
    left: 66.66%;
    bottom:0;
}

