*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}

h1,h2{
    margin: 40px 0;
}

nav {
    background-color: black;
    color: #FFF;
}

nav .logoFlottantGauche {
    border: 2px solid #FFF;
    padding: 10px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    max-width: 1150px;
    margin: 0 auto;
    text-align: right;
}

ul li {
    margin: 20px;
    display: inline-block;
}

ul li a {
    color: #FFF;
}

main{
    max-width: 1150px;
    margin: auto;
}

main .text{
    text-align: justify;
}

main img{
    width: 300px;
}

main .imageFlottanteDroite {
    float: right;
}

main .imageFlottanteGauche {
    float: left;
}