*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 55px;
    margin: 60px 0;
}

h2{
    margin: 20px 0;
    text-align: center;
}

h3{
    margin: 20px 0;
}

.exoUnContainer{
    width: 500px;
    height: 500px;
    border: dotted 2px black;
}

.carre{
    width: 50%;
    height: 50%;
    position: absolute;
}

.carreRouge{
    background: red;
    top: 0px;
    left: 250px;
}

.carreJaune{
    background: yellow;
    top: 0px;
    left: 0px;
}

.carreBleu{
    background: blue;
    top: 250px;
    left: 250px;
}

.carreVert{
    background: green;
    top: 250px;
    left: 0px;
}

.exoUnContainer{
    position: relative;
}

.carreViolet{
    background: violet;
    top: 25%;
    left: 25%;
    z-index: 1;
}

form {
    display: inline-block;
    margin-top: 50px;
    background-color: green;
    max-width: 600px;
    text-align: left;
    color: #FFF;
    padding: 20px;
}

form h3 {
    font-size: 30px;
}

form img {
    width: 50px;
    margin-top: 10px;
    height: auto;
    float: right;
    filter: invert(1) brightness(2);
}

input {
    font-size: 25px;
    border: none;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #359E7B;
    padding: 15px;
    margin-bottom: 20px;
    max-width: 100%;
}

textarea {
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    resize: none;
    height: 300px;
    border-width: 2px;
    border-color: #359E7B;
}

.envoi {
    background-color: #359E7B;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
}