* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1150px;
}

nav {
    background-color: black;
    color: #FFF;
}

nav .logoFlottant {
    border: 2px solid #orange;
    padding: 10px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    max-width: 1150px;
    margin: 0 auto;
    text-align: right;
}

ul li {
    margin: 20px;
    display: inline-block;
    border: 2px solid orange;
}

ul li a {
    color: #FFF;
}

main{
    max-width: 1150px;
    margin: auto;
}

img {
    max-width: 20%;
    height: auto;
}

.illustrationFloatRight {
    float: right;
    width: 200px;
    height: auto;
}