@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    margin: auto;
    max-width: 1150px;
    color: #FFF;
    background-color: #000;
}

h1 {
    margin: 50px;
    text-transform: uppercase;
    background-color: #FFF;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #FFF; 
    line-height: 0.1em;
}

h1:before {
    content=""
}

nav {
    background-color: black;
    color: orange;
}

nav .logoFlottant {
    border: 3px solid orange;
    padding: 10px 30px 10px 30px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    max-width: 1150px;
    margin: 0 auto;
    text-align: right;
}

ul li {
    margin: 20px;
    display: inline-block;
}

ul li a {
    color: orange;
    text-decoration: none;
}

main{
    max-width: 1150px;
    margin: auto;
    display: inline-block;
}

img {
    max-width: 20%;
}

.illustrationFloatRight {
    float: right;
    width: 200px;
    height: auto;
}

a {
    color: orange;
}