/* Error: Undefined mixin.
 *     ,
 * 325 | /         @include media(tablet) {
 * 326 | |             margin-left: calc(0.4 * var(--global--spacing-horizontal));
 * 327 | \         }
 *     '
 *   forms.scss 325:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 325 \2502  \250c          @include media(tablet) {\a 326 \2502  \2502              margin-left: calc(0.4 * var(--global--spacing-horizontal));\a 327 \2502  \2514          }\a     \2575 \a   forms.scss 325:3  root stylesheet";
}
