/* Error: Undefined mixin.
 *     ,
 * 130 | /     @include media(mobile-only) {
 * 131 | |         display: block;
 * 132 | | 
 * 133 | |         .full-size-link {
 * 134 | |             display: block;
 * 135 | |         }
 * 136 | | 
 * 137 | |         .post-taxonomies,
 * 138 | |         .full-size-link {
 * 139 | |             text-align: left;
 * 140 | |         }
 * 141 | \     }
 *     '
 *   entry.scss 130:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 130 \2502  \250c      @include media(mobile-only) {\a 131 \2502  \2502          display: block;\a 132 \2502  \2502  \a 133 \2502  \2502          .full-size-link {\a 134 \2502  \2502              display: block;\a 135 \2502  \2502          }\a 136 \2502  \2502  \a 137 \2502  \2502          .post-taxonomies,\a 138 \2502  \2502          .full-size-link {\a 139 \2502  \2502              text-align: left;\a 140 \2502  \2502          }\a 141 \2502  \2514      }\a     \2575 \a   entry.scss 130:2  root stylesheet";
}
