/* Error: Undefined mixin.
 *    ,
 * 12 | /     @include media(mobile-only) {
 * 13 | | 
 * 14 | |         .no-widgets & {
 * 15 | |             margin-top: calc(3 * var(--global--spacing-vertical));
 * 16 | |         }
 * 17 | \     }
 *    '
 *   footer.scss 12:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 12 \2502  \250c      @include media(mobile-only) {\a 13 \2502  \2502  \a 14 \2502  \2502          .no-widgets & {\a 15 \2502  \2502              margin-top: calc(3 * var(--global--spacing-vertical));\a 16 \2502  \2502          }\a 17 \2502  \2514      }\a    \2575 \a   footer.scss 12:2  root stylesheet";
}
