/* Error: Undefined mixin.
 *    ,
 * 32 | /             @include media(mobile-only) {
 * 33 | | 
 * 34 | |                 .primary-navigation > .primary-menu-container,
 * 35 | |                 .menu-button-container {
 * 36 | |                     background-color: #000;
 * 37 | |                 }
 * 38 | \             }
 *    '
 *   ie.scss 32:4  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 32 \2502  \250c              @include media(mobile-only) {\a 33 \2502  \2502  \a 34 \2502  \2502                  .primary-navigation > .primary-menu-container,\a 35 \2502  \2502                  .menu-button-container {\a 36 \2502  \2502                      background-color: #000;\a 37 \2502  \2502                  }\a 38 \2502  \2514              }\a    \2575 \a   ie.scss 32:4  root stylesheet";
}
