/* Error: Undefined mixin.
 *    ,
 * 13 | /     @include media(mobile-only) {
 * 14 | |         display: flex;
 * 15 | \     }
 *    '
 *   navigation.scss 13:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c      @include media(mobile-only) {\a 14 \2502  \2502          display: flex;\a 15 \2502  \2514      }\a    \2575 \a   navigation.scss 13:2  root stylesheet";
}
