/* ----- TABLE DES STYLES ----- */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */

* {
    margin: 0;
    padding: 0;
}

.landing_page {
    margin: 0 auto;
}