/* ----- TABLE DES STYLES ----- */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */

@font-face {
    font-family: 'HK_Grotesk_SemiBold_Legacy';
    font-style: normal;
    font-weight: 550;
    src: url('../src/fonts/HKGrotesk-SemiBoldLegacy.otf');
    }

@font-face {
    font-family: 'HK_Grotesk_Extra_Bold';
    font-style: normal;
    font-weight: 900;
    src: url('../src/fonts/HKGrotesk-ExtraBold.otf');
    }
    
@font-face {
    font-family: 'HK_Grotesk_Bold';
    font-style: normal;
    font-weight: Bold;
    src: url('../src/fonts/HKGrotesk-Bold.otf');
    }

@font-face {
    font-family: 'Hack_Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../src/fonts/Hack-Regular.ttf');
    }

@font-face {
    font-family: 'HK_Grotesk_Bold';
    font-style: normal;
    font-weight: Bold;
    src: url('../src/fonts/HKGrotesk-Bold.otf');
    }

@font-face {
    font-family: 'HK_Grotesk_Bold';
    font-style: normal;
    font-weight: Bold;
    src: url('../src/fonts/HKGrotesk-Bold.otf');
    }

@font-face {
    font-family: 'HK_Grotesk_Bold';
    font-style: normal;
    font-weight: Bold;
    src: url('../src/fonts/HKGrotesk-Bold.otf');
    }

* {
    margin: 0;
    padding: 0;
}

body .landing_page {
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.landing_page h1 {
    color: #A8A8C1;
    font-family: HK_Grotesk_Extra_Bold;
}
