/* ----- TABLE DES STYLES ----- */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */
/*                              */

* {
    margin: 0;
    padding: 0;
}

body .landing_page {
    margin: 0 auto;
    display: flex;
}