/* Error: Undefined mixin.
 *    ,
 * 97 | /     @include media(mobile) {
 * 98 | |         padding-left: calc(4 * var(--global--spacing-horizontal));
 * 99 | \     }
 *    '
 *   comments.scss 97:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 97 \2502  \250c      @include media(mobile) {\a 98 \2502  \2502          padding-left: calc(4 * var(--global--spacing-horizontal));\a 99 \2502  \2514      }\a    \2575 \a   comments.scss 97:2  root stylesheet";
}
