@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
/* ----- TABLE DES STYLES ----- */
/*                              */
/*  BODY                        */
/*  HEADER                      */
/*  MAIN                        */
/*  ASIDE                       */
/*  MEDIA QUERIES               */
/*                              */
* {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
}

/* HEADER */
header {
  margin: 0 auto;
}

header nav {
  padding: 2em 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.25em 0;
}

header .socials img {
  margin: 0 0.75em;
  height: 1em;
  width: auto;
}

header .bandeDeco {
  height: 8em;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

li a {
  color: #9F9F9F;
  text-decoration: none;
  line-height: 23px;
}

li .active {
  color: black;
}

/* MAIN */
main {
  margin: 0 auto;
  padding: 0.5em 1em 1em 1em;
}

article {
  margin-bottom: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article h2 {
  font-family: Cardo;
  font-weight: 700;
  font-size: 18px;
}

article img {
  margin: 0.5em 0;
  height: 8rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 33%;
     object-position: left 33%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

article p:first-of-type {
  font-family: Montserrat;
  font-size: 11px;
  line-height: 12.5px;
  text-align: right;
  color: #00000099;
}

article p:last-of-type {
  text-align: justify;
  font-size: 0.75em;
  line-height: 16.5px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* ASIDE */
aside {
  padding-top: 3em;
  padding-bottom: 1.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), color-stop(10%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 10%);
  background-color: #FBFBFB;
  text-align: center;
}

aside .categories h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

aside .categories ul {
  list-style: none;
}

aside .categories li {
  margin-top: 1em;
}

aside .categories a {
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
}

aside hr {
  max-width: 70vw;
  margin: 2em auto;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 90vw;
  }
  article {
    height: 130px;
    max-width: 500px;
    margin: 2rem auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  article .date {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  article h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  article img {
    height: 100%;
    width: auto;
    margin-right: 2em;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    border-bottom: 4px solid #D8D8D8;
  }
  article p:last-of-type {
    width: 70%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 90vw;
  }
  article .date {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  article h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  article p:last-of-type {
    width: 90%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: left;
  }
  aside hr {
    margin: 0;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    position: relative;
  }
  header .socials {
    position: absolute;
    top: 2em;
    right: 2em;
    margin: 0;
  }
  header nav {
    max-width: 700px;
    margin-left: 2em;
    margin-right: 0;
  }
  header nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 1440px) {
  header .bandeDeco {
    height: 16em;
  }
  article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  article .date {
    font-size: 17px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  article h2 {
    font-size: 36px;
    line-height: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  article p:first-of-type {
    font-size: 16px;
  }
  article img {
    margin: 0 2em;
  }
  article p:last-of-type {
    font-size: 16px;
    line-height: 30px;
  }
  aside {
    display: block;
    float: right;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */